/* =========================================
STYLES SCSS
Este archivo contiene:
- Utilities (variables, mixins, extends)
- Layout (navbar, footer)
- Pages (index, historia, sabores, contacto)
- Estilos generales
========================================= */

@import "./utilities/variables";
@import "./utilities/mixins";
@import "./utilities/extends";

@import "./layout/navbar";
@import "./layout/footer";

@import "./pages/index";
@import "./pages/historia";
@import "./pages/sabores";
@import "./pages/contacto";
@import "./pages/tuladohelado";

/* =========================================
ESTILOS GENERALES
========================================= */

/* Aplico una misma tipografía en toda la web.
   Uso !important para asegurar que Bootstrap no la sobrescriba. */
* {
    font-family: $font-main !important;
}

/* Elimino subrayados de los enlaces para mantener estética limpia */
a {
    text-decoration: none;
}

/* Elimino viñetas predeterminadas para listas */
ul {
    list-style: none;
}

/* Definición de tamaños y pesos de títulos.
   Se usan !important para evitar que Bootstrap los sobreescriba */
h1 {
    font-size: 3rem !important;
    font-weight: 800 !important;
}

h2 {
    font-size: 2.25rem !important;
    font-weight: 700 !important;
}

h3 {
    font-size: 1.25rem !important;
    font-weight: 700 !important;
}


/* Espacio para que la nav bar quede fija y no me coma contenido */
body {
    padding-top: 80px;
}

/* Botón */
.boton {
  @include button($rosa, $blanco);

  padding: 0.8rem 2rem;
  font-size: 1rem;
  box-shadow: 0 6px 18px $rosa-shadow;
}

/* Hover del botón */
.boton:hover {
    background-color: $rosa-hover;
}

/* =========================================
   BOTÓN FLOTANTE WHATSAPP
========================================= */
.btn-whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-color: #25D366; 
    color: $blanco;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    z-index: 1000; /* Asegura que flote sobre todo */
    
    /* Centrado del ícono */
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: all 0.3s ease;

    /* Tamaño de la imagen dentro del botón */
    img {
        width: 35px; /* Ajuste visual del ícono */
        height: 35px;
        object-fit: contain;
    }

    /* Efecto Hover */
    &:hover {
        transform: scale(1.1);
        background-color: #20b857;
        box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.4);
    }
}

/* Ajuste para móviles */
@media (max-width: 576px) {
    .btn-whatsapp {
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;

        img {
            width: 28px;
            height: 28px;
        }
    }
}