/* =========================================
STYLES SCSS
Este archivo contiene:
- Utilities (variables, mixins, extends)
- Layout (navbar, footer)
- Pages (index, historia, sabores, contacto)
- Estilos generales
========================================= */

@import "./utilities/variables";
@import "./utilities/mixins";
@import "./utilities/extends";

@import "./layout/navbar";
@import "./layout/footer";

@import "./pages/index";
@import "./pages/historia";
@import "./pages/sabores";
@import "./pages/contacto";

/* =========================================
ESTILOS GENERALES
========================================= */

/* Aplico una misma tipografía en toda la web.
   Uso !important para asegurar que Bootstrap no la sobrescriba. */
* {
    font-family: $font-main !important;
}

/* Elimino subrayados de los enlaces para mantener estética limpia */
a {
    text-decoration: none;
}

/* Elimino viñetas predeterminadas para listas */
ul {
    list-style: none;
}

/* Definición de tamaños y pesos de títulos.
   Se usan !important para evitar que Bootstrap los sobreescriba */
h1 {
    font-size: 3rem !important;
    font-weight: 800 !important;
}

h2 {
    font-size: 2.25rem !important;
    font-weight: 700 !important;
}

h3 {
    font-size: 1.25rem !important;
    font-weight: 700 !important;
}

/* Espacio para que la nav bar quede fija y no me coma contenido */
body {
    padding-top: 80px;
}

/* Botón */
.boton {
  @include button($rosa, $blanco);

  padding: 0.8rem 2rem;
  font-size: 1rem;
  box-shadow: 0 6px 18px $rosa-shadow;
}

/* Hover del botón */
.boton:hover {
    background-color: $rosa-hover;
}