/* =========================================
MIXINS
Este archivo agrupa mixins reutilizables del proyecto, como:
- Transiciones
- Flex
- Botones
- Media queries
========================================= */

/* Transiciones suaves */
@mixin transition {
  transition: all 0.3s ease;
}

/* Flexbox rápido */
@mixin flex($direction: row,
  $justify: flex-start,
  $align: stretch,
  $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

/* Botón base */
@mixin button($bg, $color) {
  background-color: $bg;
  color: $color;
  border-radius: 10px;
  font-weight: 700;
  @include transition;
}

/* Card resultado Tu Lado Helado */
@mixin reveal-card {
  opacity: 0;
  transform: translateY(20px) scale(0.96);
  filter: blur(4px);

  transition:
    opacity 0.4s ease,
    transform 0.45s ease,
    filter 0.4s ease;
}

@mixin card-elevation($shadow) {
    border-radius: 14px;
    box-shadow: $shadow;
}

/* Media queries */
@mixin respond-max($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin respond-between($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content;
  }
}