/* =========================================
VARIABLES
Este archivo contiene todas las variables del proyecto:
- Colores
- Tipografías
- Breakpoints
- Sombras y opacidades
========================================= */

$rosa: #D25B4B;
$rosa-hover: #b84f41;
$rosa-shadow: rgba(210, 91, 75, 0.35);
$verde: #4A5E3D;
$blanco: #ffffff;
$negro-45: rgba(0, 0, 0, 0.45);
$negro-25: rgba(0, 0, 0, 0.25);
$negro-20: rgba(0, 0, 0, 0.20);
$negro-18: rgba(0, 0, 0, 0.18);

$font-main: "Nunito Sans", sans-serif;

$desktop: 992px;
$tablet-large: 835px;
$tablet: 768px;
$mobile: 576px;
$mobile-small: 480px;

$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 4rem;